// COLORS

$color-primary: rgb(103, 193, 110);
$color-secondary: rgb(0, 176, 200);
$color-tertiary: rgb(192, 99, 128);
$color-light: white;
$color-dark: black;

// FONTS

$font-primary: 'Acme', sans-serif;
$font-primary: 'Shadows Into Light', cursive;

// BREACKPOINTS

$medium: 768px;
$large: 1024px;
