@import 'reset';
@import 'vars';
@import 'mixins';

.page {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  background: url(../images/background.jpg) repeat fixed;
  background-size: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
